body {
  /* padding: 10px; */
  font-family: sans-serif;
}

.percentage{
  font-size: 2em;
  color: rgb(255,115,115);
  font-weight: bold;
}
.rateTitle{
  font-size: 1.2em;
  text-align: center;
  color: rgb(255,115,115);
}
.detailsData{
  text-align: center;
  margin:0;
}
.v-input__slot:before{
  border-color:rgb(255,115,115) !important;
}
.theme--light.v-icon{
  color:rgb(255,115,115) !important;
}
