<template>
  <v-app id="inspire">
    <v-toolbar
      :clipped-left="$vuetify.breakpoint.lgAndUp"
      color="white darken-5"
      dark
      app
      fixed
    >
      <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
        <span style="color:rgb(250, 115, 115);">Dashboard</span>
      </v-toolbar-title>
    </v-toolbar>
    <v-content>
      <v-container fill-height>
        <v-layout justify-center align-center xs12>
          <v-card style="width:100%" xs10 offset-xs1>
            <v-card-title
              class="white-4 py-4 title"
            >
            <span style="color:rgb(250, 115, 115);">KPIs (last month)</span>
            </v-card-title>
            <v-divider style="dark"></v-divider>
            <v-container grid-list-sm class="pa-4">
              <v-layout row wrap>
              <v-flex xs12>
                <v-flex xs8 offset-xs2 md6 offset-xs3  align-center justify-space-between>
                  <v-layout align-center>
                      <v-select color="rgb(255, 115, 115)" :items="companies" v-model="company"     label="Select Company" @change='chooseCompany' item-text="name" item-value='name' hide-details></v-select>
                  </v-layout>
                </v-flex>
                </v-flex>
                <v-layout ma-3 align-center v-if="kpis">
                  <v-flex xs10 md3>
                    <v-img src="https://d301sr5gafysq2.cloudfront.net/a4d23da040c9/img/repo-avatars/nodejs.png">
                    </v-img>
                    <v-layout justify-center>
                      <p class="percentage">{{kpis.winningRate.total}}%</p>
                    </v-layout>
                    <v-layout justify-center>
                      <p class="rateTitle">Customer winning rate</p>
                    </v-layout>
                    <v-layout justify-center>
                      <p class="detailsData">New customers: {{kpis.winningRate.newCustomers}}</p>
                    </v-layout>
                    <v-layout justify-center>
                      <p class="detailsData">Requests: {{kpis.winningRate.requests}}</p>
                    </v-layout>
                  </v-flex>
                  <v-spacer></v-spacer>
                  <v-flex xs10 md3>
                    <v-img src="https://d301sr5gafysq2.cloudfront.net/a4d23da040c9/img/repo-avatars/nodejs.png">
                    </v-img>
                    <v-layout justify-center>
                      <p class="percentage">{{kpis.fulfillment.total}}%</p>
                    </v-layout>
                    <v-layout justify-center>
                      <p class="rateTitle">Order fulfillment</p>
                    </v-layout>
                    <v-layout justify-center>
                      <p class="detailsData">Fulfilled orders: {{kpis.fulfillment.fulfilledOrders}}</p>
                    </v-layout>
                    <v-layout justify-center>
                      <p class="detailsData">Orders: {{kpis.fulfillment.orders}}</p>
                    </v-layout>
                  </v-flex>
                  <v-spacer></v-spacer>
                  <v-flex xs10 md3>
                    <v-img src="https://d301sr5gafysq2.cloudfront.net/a4d23da040c9/img/repo-avatars/nodejs.png">
                    </v-img>
                    <v-layout justify-center>
                      <p class="percentage">{{kpis.satisfaction.total}}%</p>
                    </v-layout>
                    <v-layout justify-center>
                      <p class="rateTitle">Customer satisfaction</p>
                    </v-layout>
                    <v-layout justify-center>
                      <p class="detailsData">Recierved rating: {{kpis.satisfaction.rating}}</p>
                    </v-layout>
                  </v-flex>
                </v-layout>
              </v-layout>
            </v-container>

          </v-card>
        </v-dialog>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

  export default {
    data() {
      return {
        companies: undefined,
        kpis:undefined
      }
    },
    methods: {
      getCompanies(){
          Meteor.call('getCompanies', (err, data)=> {
            this.companies= data;
          });
      },
      chooseCompany(data){
        Meteor.call('getKPIs',data, (err, data)=> {
            this.kpis= data;
          });
      }

    },
    mounted() {
      this.getCompanies()
    },
  }
</script>